body {
    height: 100%;
    padding: 0;
    margin: 0;
    background-image: linear-gradient(#252e3d, #0D1117); 
    background-repeat: no-repeat;
    background-attachment: fixed;
}

html *{
    font-family: var(--primaryFont), var(--backupFont), var(--genericFont);
}
